// Fonts
$primary-font: 'Lucida Console', sans-serif;

// Colors
$white: hsl(0, 0%, 100%);
$black: hsla(0, 0%, 0%, 0.85);
$red: hsl(1, 83%, 63%);
$primary: hsl(215, 100%, 54%);
$primary-light: hsl(213, 100%, 63%);

$gray-100: hsla(0, 0%, 93%, 1);

$bg-color: hsl(38 100% 90%);
$bg-spinner: hsl(0, 0%, 100%, 0.8);

// Breakpoints
$screen-sm-min: 576; // Small tablets and large smartphones (landscape view)
$screen-md-min: 720; // Small tablets (portrait view)
$screen-lg-min: 1024; // Tablets and small desktops
$screen-xl-min: 1490; // Large tablets and desktops
