// Fonts
$primary-font: 'Lucida Console', sans-serif;

// Colors
$bg-color: hsl(38 100% 90%);
$red: hsl(1, 83%, 63%);

// Breakpoints
$screen-sm-min: 576; // Small tablets and large smartphones (landscape view)
$screen-md-min: 720; // Small tablets (portrait view)
$screen-lg-min: 1024; // Tablets and small desktops
$screen-xl-min: 1490; // Large tablets and desktops
