.simple-list {
  &__title {
    font-weight: 700;
    padding: 15px 0;
    width: 100%;
    border-bottom: 1px solid $gray-100;
  }
  ul {
    .list-item {
      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.list-item {
  border-bottom: 1px solid $gray-100;
  &__content {
    padding: 15px 20px;
    width: 100%;
    text-align: left;
    text-transform: capitalize;
  }
  button {
    &.list-item__content {
      display: flex;
      justify-content: space-between;
      span {
        transition: transform 300ms;
      }
      &:hover {
        span {
          transform: translateX(5px);
        }
      }
    }
  }
}
